@page "/identity/account/login"
@model LoginModel

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>使用者登入</legend>
                <div class="mb-3">
                    <label for="username" class="form-label">使用者名稱</label>
                    <input asp-for="LoginDto.Username" type="text" class="form-control" id="username" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">密碼</label>
                    <input asp-for="LoginDto.Password" type="password" class="form-control" id="password" />
                </div>

                <button type="submit" class="btn btn-primary">登入</button>
            </form>
        </div>

    </div>
</div>